@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#landing {
    padding: 0 32px;
}

.btn__menu {
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    border: none;
    color: #6415ff;
    display: none;
}

.menu__backdrop {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    z-index: 4;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 16px 0;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    color: black;
}
    
     
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: black;
 }

/* NAV */


nav {
    display: flex;
     padding-top: 32px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--img {
    width: 40px;
    height: 40px;

}

.logo {
    display: flex;
    align-items: center;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
}


.nav__link {
    margin: 0 24px;
    font-size: 14px;
    color: #243e63;
    border-bottom: 2px solid transparent;
    position: relative;
    font-weight: bold;
    transition: all 300ms;
    padding: 4px 0 0;
}

.nav__link:hover {
    border-bottom: 2px solid #7342d6;
    color: #7342d6;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    border: none;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
}

/* HEADER */

.header__container {
    padding: 96px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
}
.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
    font-size: 16px;
}

.header__email {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 68px;
    max-width: 448px;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.header__img {
    width: 100%;
    max-width: 512px;
}

.header__customer--title {
    margin-top: 80px;
    color: #a0aec0;
}

.header__customer--img {
    width: 100%;
    margin-top: 16px;
    opacity: 0.5;
}




/* FEATURES */

#features {
    padding: 0 32px;
}

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section__tag {
    color: #6415ff;
}

.section__title {
    color: rgb(36, 62, 99);
    margin: 16px 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
}

#features .section__para {
    max-width: 576px;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    padding: 32px 24px;
}

.feature__text {
    margin: 8px 0 0 16px;
    display: flex;
    flex-direction: column;
}

.feature__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    padding: 20px;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.feature__para {
    color: rgb(124, 139, 161);
    margin-top: 16px;
    line-height: 2;
}

/*  Quality */

#quality {
    padding: 0 32px;
}
.quality__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 60px;
}

.quality__btn, .value__btn {
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 500px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.quality__img--wrapper {
    width: 50%;
    margin: 0 55px;
    border: 1px solid rgb(229, 231, 235);
}

.quality__img {
    width: 100%;
}

/* STEPS */

#steps {
    padding: 0 32px;
}
.steps__row {
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    padding: 32px 0 32px 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 30px;
    font-weight: 700;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    max-width: 320px;
}

.step__title {
    color: #243e63;
    font-weight: 700;
    font-size: 20px;
}

.step__para {
    color: #718096;
    margin-top: 12px;
}

/* VALUES */

#values {
    padding: 0 32px;
}

.value__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value__description {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values {
    display: flex;
}

.value {
    margin-top: 32px;
}

.value:nth-child(1) {
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.values__img--wrapper {
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:nth-child(1) .values__img--wrapper {
    background-color: #feb2b2;
}

.value:nth-child(2) .values__img--wrapper {
    background-color: #9ae6b4;
}

.values__img {
    height: 20px;
    width: 20px;
}

.value__name {
    font-weight: 700;
    font-size: 20px;
    color: #243e63;
    margin-left: 12px;
}

.value__para {
    color: #718096;
    margin-top: 16px;
}

.value__img--wrapper {
    width: 50%;
}

.value__img {
    width: 100%;
}


/* Pricing */

#pricing {
    padding: 0 32px;
}

#pricing .section__para {
    max-width: 576px;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans {
    margin: 48px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan {
    border: 2px solid rgb(229, 231, 235) ;
    border-radius: 8px;
    margin: 64px 32px 0 0;
    width: 100%;
    max-width: 384px;
    padding-top: 8px;
    overflow: hidden;
    position: relative;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan__top, .plan__middle{
    padding: 32px;
    border-bottom: 2px solid rgb(229, 231, 235);
    text-align: center;
}

.plan__name, .plan__price,
.plan__duration {
    font-weight: bold;
    line-height: 1.6;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 40px;
    margin: 8px 0;
}

.plan__duration {
    color: #a0aec0;
}

.plan__middle {
    text-align: center;
}

.plan__feature {
    margin-top: 20px;
    color: #718096;
    font-weight: 500;
}

.plan__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan__btn {
    margin: 32px 64px;
    padding: 16px 64px;
    border-radius: 500px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);

}

.plan:nth-child(2) .plan__btn {
     color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(2) .plan__feature, 
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__name {
    color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

#testimonials {
    padding: 0 32px;
}

.testimonial__row {
    display: flex;
}

.testimonials__img {
    width: 40%;
}

.testimonial__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 64px;
}

.testimonial {
    margin: 32px 0;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
}

.testimonial__title {
    margin: 24px 0;
    color: #243e63;
}

.testimonial__para {
    color: #4a5568;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.testimonial__profile {
    display: flex;
}

.testimonial__details {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__name {
    font-weight: 700;
    font-size: 20px;
    color: #243e63;
    line-height: 1.5;
}

.testimonial__role {
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.5;
}

.testimonial__img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.testimonial__btns {
    display: flex;
    align-items: center;
}

.testimonial__btn {
    border-radius: 50%;
    border: none;
    background-color: #edf2f7;
    height: 50px;
    width: 50px;
    color: #6415ff;
    margin: 0 12px;
    transition: all 300ms;
}

.divider {
    height: 24px;
    width: 1px;
    background-color: rgb(229, 231, 235);
}
    

/* START */

#start {
    padding: 0 32px;
}

.start__container {
    padding: 96px 0;
    background-color: rgb(100, 21, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    margin: 0 25px;
}
.start__title {
    font-size: 30px;
    color: #f7fafc;
    font-weight: 700;
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.start__btn {
    padding: 20px 40px;
    border-radius: 500px;
     color: #edf2f7;
    font-size: 16px;
    font-weight: bold;
}

.start__btn:nth-child(1) {
    background-color: #f56565;
    margin: 0 32px 0 0;
   
}

.start__btn:nth-child(2) {
    background-color: transparent;
    border: solid;
}


/* FOOTER */

footer {
    background-color: rgb(100, 21, 255);
    padding: 96px 32px;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;

}

.footer__column--title {
    color: #f7fafc;
    font-weight: 700;
}

.footer__column--link {
    font-size: 14px;
    font-weight: 500;
    color: #f7fafc;
    margin-top: 12px;
    cursor: pointer;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    height: 2px;
    width: 100%;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 40px;
    height: 40px;
}

.footer__logo--text {
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    color: #f7fafc;
}

.footer__copyright {
    color: #f7fafc;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__social--link {
    padding: 8px;
    background-color: #f7fafc;
    border-radius: 50%;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1280px) {
    h1 {
        font-size: 36px;
    }
    .header__description--para {
        font-size: 16px;
    }
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .header__img {
        max-width: 512px;
    }
    .header__row {
        align-items: flex-end;
    }
    .header__customer--img {
        padding-right: 64px;
    }
    .plan__btn {
        max-width: none;
    }
    .plan__bottom {
        padding: 32px 64px;
    }
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .header__row {
        flex-direction: column;
        align-items: center;
    }
    .header__description,
    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 30px;
    }
    .header__description--para {
        margin: 20px 0;
    }
    .header__customer--img {
        padding-right: 0px;
    }
    .header__customer--title,
    .header__img--wrapper {
        margin-top: 48px;
    }
    .features {
        max-width: 768px;
    }
    .feature {
        width: 50%;
    }
    .feature__title {
        line-height: 1;
    }
    .feature__row {
        padding: 32px 8px;
        margin: 0 16px;
    }
    .feature__para {
        max-width: none;
    }
    .section__para {
        font-size: 16px;
    }
    .section__title {
        font-size: 36px;
    }
    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }
    .values {
        flex-direction: column;
        max-width: 320px;
    }
    .value:nth-child(1),
    .value:nth-child(2) {
        margin-top: 40px;
    }
    .plans {
        flex-direction: column;
        align-items: center;
    }
    .plan {
        margin-right: 0px;
    }
    #features .section__title,
    #pricing .section__title {
        font-size: 48px;
    }
    .testimonial__description {
        padding-left: 48px;
    }
    .start__row {
        flex-direction: column;
    }
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
    .start__buttons {
        width: auto;
        margin-top: 24px;
    }
    .start__btn {
        padding: 16px 32px;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    .features {
        justify-content: center;
    }
    .feature {
        width: auto;
        max-width: 384px;
    }
    .section__para {
        font-size: 14px;
    }
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    .quality__description,
    .steps__description,
    .value__description,
    .testimonial__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
    .quality__description,
    .quality__img--wrapper,
    .steps__description,
    .steps__img--wrapper,
    .value__description,
    .values__img,
    .testimonial__description,
    .testimonials__img {
        width: 100%;
        max-width: 448px;
    }
    .steps__row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    .step {
        flex-direction: column;
        align-items: center;
    }
    .step__description {
        margin-top: 12px;
        margin-left: 0;
    }
    .values {
        margin: 0 auto;
    }
    .value:nth-of-type(1) {
        margin-right: 0px;
    }
    .value {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
    .testimonials__description {
        padding-left: 0;
    }
    .footer__columns {
        justify-content: flex-start;
    }
    .footer__column {
        width: calc(100% / 3);
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
    .footer__socials {
        margin-left: 0px;
    }
    .footer__social--link:first-child {
        margin-left: 0px;
    }
}

@media(max-width: 640px) {
    .section__title {
        line-height: 1.25;
        font-size: 30px;
    }
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    .header__email {
        flex-direction: column;
        height: auto;
    }
    .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }
    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }
    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature__title {
        letter-spacing: 0.025em;
        line-height: 1;
    }
    .feature__text {
        margin-left: 0px;
        margin-top: 16px;
    }
    .feature__para {
        margin-top: 4px;
        line-height: 2;
    }
    #steps .section__title {
        margin: 16px 0 0 0;
    }
    .steps__list {
        margin-top: 48px;
    }
    .btn {
        line-height: 1.5;
    }
    .plan__price {
        font-size: 36px;
    }
    .plan__bottom {
        padding: 32px 48px;
    }
    .testimonial__para {
        margin-bottom: 32px;
    }
    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }
    .testimonial__profile {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__details {
        margin-left: 0;
        margin-top: 8px;
    }
    .testimonial__img {
        height: 64px;
        width: 64px;
    }
    .testimonial__buttons {
        margin-top: 32px;
    }
    .start__title {
        font-size: 24px;
    }
    .start__container {
        padding: 80px 0;
    }
    .start__buttons {
        flex-direction: column;
    }
    .start__button:nth-child(1) {
        margin-right: 0;
    }
    .start__button {
        padding: 12px 24px;
        font-size: 14px;
    }
    .start__button:nth-child(2) {
        margin-top: 16px;
    }
    main {
        margin-bottom: 80px;
    }
    .footer__columns {
        justify-content: center;
    }
    .footer__column {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
}